In [1]:
a = ['banana','apple','microsoft']
print(a[0])
print(a[1])
print(a[2])

banana
apple
microsoft

In [2]:
for element in a:
    print(element)

banana
apple
microsoft

In [3]:
for listitems in a:
    print(listitems)

banana
apple
microsoft

In [5]:
b=[2,3,30]
total=0
for items in b:
    total=total+items

print(total)

35

In [6]:
#range takes all numbers exclusing last. for e.g. below takes 1,2,3,4

c=list(range(1,5))
print(c)

[1, 2, 3, 4]

In [7]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [8]:
totalnew = 0
for i in range(1,6):
    totalnew += i
print(totalnew)

15

In [10]:
print(4%3)
print(15%3)

1
0

In [11]:
#compute all multiples of 3 and 5 less than 100
total = 0
for j in range(1,100):
    if j%3==0 or j%5==0:
        total +=j
print(total)

2318

In [1]:
for names in ['Amitesh','Animesh','Abhishek']:
    print (names)

Amitesh
Animesh
Abhishek